.example-form {
  width: 100%;
  max-width: 600px;
  margin: 0;
}
.example-full-width {
  width: 48%;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
  align-items: center;
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
}

mat-card-content {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 0 30px;
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px 30px;
}

.content-buttom {
  gap: 10px;
}
