<form class="example-form" [formGroup]="companyform" (ngSubmit)="SaveRefenUbicacion()">
  <mat-card>

    <div class="mat-card-header ">
      <mat-card-title>{{titlo}}</mat-card-title>
      <a mat-icon-button (click)="closepopup()" color="primary"><mat-icon>close</mat-icon>
      </a>
    </div>


    <mat-card-content>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Cuidad</mat-label>
        <input matInput placeholder="cuidad" formControlName="cuidad" autocomplete="off">
      </mat-form-field>



      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Departamento</mat-label>
        <input matInput placeholder="departamento" formControlName="departamento" autocomplete="off">
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>DescripcionCuidad</mat-label>
        <input matInput placeholder="descripcionCuidad" formControlName="descripcionCuidad" autocomplete="off">
      </mat-form-field>



      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Pais</mat-label>
        <input matInput placeholder="pais" formControlName="pais" autocomplete="off">
      </mat-form-field>
      <div class="example-full-width fotoestilo" appearance="fill">
        <mat-label>Foto*</mat-label>
        <input (change)="seleccionarFoto($event)" type="file" placeholder="selecciones una foto" formControlName="foto"
          autocomplete="off">
      </div>

      <div *ngIf="imageSrc != '' ">
        <img [src]="imageSrc" width="250px" height="250px" />

      </div>
      <div *ngIf="imgurl != '' ">
        <img src="{{imgurl}}" width="250px" height="250px" />
      </div>

    </mat-card-content>

    <mat-divider></mat-divider>
    <div class="mat-card-footer">
      <div class="content-buttom" style="margin: 2px;">
        <a mat-raised-button color="primary" (click)=" SaveRefenUbicacion()">Save</a> | <a (click)="closepopup()"
          mat-raised-button color="accent">Close</a>
      </div>
    </div>
  </mat-card>
</form>