<div class="container tam-reserva mt-5 pt-5" >
    <div class=" sec-descr pt-5 text-center">
        <h2 class="pt-5">Reservas</h2>
        <h3>Verifica tus reservas</h3>
      </div>

<p>Las reservas de hotel se pueden hacer en línea o por teléfono, y es importante verificar las políticas de cancelación y los precios antes de confirmar la reserva.</p>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Fecha Entrada</th>
                <th scope="col">Fecha Salida</th>
                <th scope="col">Adelanto</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Hotel</th>
                <th scope="col">Tipo de pago</th>
                <th scope="col">Tipo de Habitación</th>
                <th scope="col">Costo</th>
                <th scope="col">Control</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reserva of reservaParcial; let i=index">
                <th scope="row">{{ reserva.counter }}</th>
                <td>{{ reserva.fechaEntrada}}</td>
                <td>{{ reserva.fechaSalida }}</td>
                <td>{{ reserva.adelantoReservas }}</td>
                <td>{{ reserva.cantidadHab }}</td>
                <td>{{ reserva.hotel.nombre }}</td>
                <td>{{ reserva.tipoPago.detalle_tipo }}</td>
                <td>{{ reserva.tipohab.tipoHabitacion }}</td>
                <td>{{ reserva.costo_total }}</td>
                <td class="icono-cursor text-center"><i class="fa-solid fa-print" (click)="mostrarReporte(reserva.id)"></i></td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-between p-2">
        
        <ngb-pagination
            [collectionSize]="collectionSize"
            [(page)]="page"
            [pageSize]="pageSize"
            (pageChange)="refreshReservas()"
        >
        </ngb-pagination>

        <select class="form-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshReservas()">
            <option [ngValue]="2">2 items per page</option>
            <option [ngValue]="4">4 items per page</option>
            <option [ngValue]="6">6 items per page</option>
        </select>
    </div>
</div>