<div>
    <div class=" sec-descr pt-5">
        <h2 class="pt-5">Bienvenidos </h2>
        <h3>Bienvenidos al Booking Hoteles</h3>
        <p class="mb-4">A través de esta galería, te invitamos a explorar y disfrutar de la belleza del mundo que nos rodea. Descubre nuevas perspectivas y deja que estas imágenes te inspiren a explorar lo que hay más allá de lo cotidiano."</p>
    </div>
    
    <owl-carousel-o [options]="customOptions " >
      <ng-template carouselSlide><img src="../../../../assets/img/gallery-1.png"></ng-template>  
      <ng-template carouselSlide><img src="../../../../assets/img/gallery-2.png"></ng-template>  
      <ng-template carouselSlide><img src="../../../../assets/img/gallery-3.png"></ng-template> 
      <ng-template carouselSlide><img src="../../../../assets/img/gallery-4.png"></ng-template>  
      <ng-template carouselSlide><img src="../../../../assets/img/gallery-5.png"></ng-template>  
    </owl-carousel-o>
    
  </div>