.foot{
    display: flex;
    justify-content: center;
    width: 100% !important;
    text-align: center;
    color: #fff;
    height: 40px  !important;
    
}
.foot .letra{
    font-style: italic;
}
.foot p a{
    color: #fff;
    font-weight: 600;
    font-style: normal;
}
.letra i{
    transition: 1s ease-in;
    cursor: pointer;
  }
.letra .fb:hover{
    transform:rotate(360deg);
    color: #3b5998;
  
  }
.letra .tw:hover{
    transform:rotate(360deg);
    color: #00acee;
    
  
  }
.letra .ins:hover{
    transform:rotate(360deg);
    background-clip: text;
    color: transparent;
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);;
  
  }
  