<!-- <footer class=" bg-light foot">

  <div class="row container mt-3">

    <p class="col-6 ">&copy; 2017–2021 Company, Inc. &middot; <a class="text-decoration-none" href="#">Privacy</a>
      &middot; <a class="text-decoration-none" href="#">Terms</a></p>
    <p class="col-6 "><a class="text-decoration-none " href="#">Back to top</a></p>
    
  </div>


</footer> -->
<footer class="fixed-bottom bg-dark op">
  <div class="container-fluid container">
    <div class="row  foot pt-2">

      <p class="col-6 letra">&copy; 2017–2021 Sistema booking, Inc. &middot; <a class="text-decoration-none" href="#">Privacidad</a>
        &middot; <a class="text-decoration-none " href="#">Términos</a></p>
      <p class="col-6 letra">
        <i class="fa-brands fa-facebook px-2 fb"></i>
        <i class="fa-brands fa-twitter px-2 tw"></i>
        <i class="fa-brands fa-instagram px-2 ins"></i>
        <a class="text-decoration-none px-2" href="#">Regresar Arriba</a>
      </p>
      
    </div>
  </div>
</footer>