<!-- <footer class=" bg-light foot">

  <div class="row container mt-3">

    <p class="col-6 ">&copy; 2017–2021 Company, Inc. &middot; <a class="text-decoration-none" href="#">Privacy</a>
      &middot; <a class="text-decoration-none" href="#">Terms</a></p>
    <p class="col-6 "><a class="text-decoration-none " href="#">Back to top</a></p>
    
  </div>


</footer> -->
<footer class="navbar fixed-bottom bg-light">
  <div class="container-fluid">
    <div class="row container foot ">

      <p class="col-6 ">&copy; 2017–2021 Company, Inc. &middot; <a class="text-decoration-none" href="#">Privacy</a>
        &middot; <a class="text-decoration-none" href="#">Terms</a></p>
      <p class="col-6 "><a class="text-decoration-none " href="#">Back to top</a></p>
      
    </div>
  </div>
</footer>