<div class="dash-title">
  <h2>Listado de Precios</h2>
</div>
<button mat-raised-button color="primary" (click)="Openpopup('','')">Crear</button>
<br>
<br>

<div class="selectAncho">
  <mat-form-field appearance="fill">
    <mat-label>Selecione un Hotel</mat-label>
    <mat-select (selectionChange)="onSelect($event.value)" [(value)]="ngSelect">
      <mat-option *ngFor="let item of hotel" [value]="item.id">
        {{item.nombre}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div *ngIf="precioxhabitacio?.length != 0">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input autocomplete="off">
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef>Cantidad </th>
        <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
      </ng-container>

      <!-- Precio Column -->
      <ng-container matColumnDef="precio">
        <th mat-header-cell *matHeaderCellDef>Precio </th>
        <td mat-cell *matCellDef="let element">
          {{element.precio}}
        </td>
      </ng-container>
      <!-- Precio Column -->
      <ng-container matColumnDef="tipoHabitacion">
        <th mat-header-cell *matHeaderCellDef>Tipo Habitación</th>
        <td mat-cell *matCellDef="let element">
          {{element.tipoHabitacion}}
        </td>
      </ng-container>
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef> Acciones</th>
        <td mat-cell *matCellDef="let element; let i=index" style="text-align: center;">
          <a style="color: #1f516f; cursor: pointer;" matTooltip="Editar Precio "
            (click)="EditPrecio(element.id, hotelSeleccionadoId)"><mat-icon>edit</mat-icon></a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay data "{{input.value}}"</td>
      </tr>


    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>
<div *ngIf="precioxhabitacio?.length == 0" class="alert alert-info">
  No hay registros en la base de datos!
</div>