<main id="main" data-aos="fade" data-aos-delay="1500">

    <!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center mt-4 mb-3">
            <div class=" sec-descr pt-5">
              <h2 class="pt-5">Nosotros</h2>
              <h3>Información</h3>
            </div>
            
            <p>¡Reservar con nosotros es sinónimo de calidad y confianza! No te arrepentirás de elegirnos para tus próximas vacaciones.</p>

            <a class="cta-btn" href="">Contacta con Nosotros</a>

          </div>
        </div>
      </div>
    </div><!-- End Page Header -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row gy-4 justify-content-center">
          <div class="col-lg-4">
            <img src="../../../../assets/img/hotel1.jpg" class="img-fluid img-tam" alt="">
          </div>
          <div class="col-lg-5 content">
            <h2>¡Reserva ahora y prepárate para vivir la aventura de tu vida!</h2>
            <p class="fst-italic py-3">
              ¿Estás buscando una forma fácil y segura de reservar tus próximas vacaciones? ¡Aquí la tienes! ¡Reserva ahora y vive la experiencia!
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-group">
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""><strong >Confortable</strong> </li>
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""> <strong>Precios Bajos</strong> </li>
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""> <strong>Ubicación</strong> </li>
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""> <strong>Vistas</strong> </li>
                </ul>
              </div>
              <div class="col-lg-6 ">
                <ul class="list-group">
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""><strong>Buena Atención</strong> </li>
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""> <strong>Amplias Habitaciones</strong> </li>
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""> <strong>Piscina</strong> </li>
                  <li ><img src="../../../../assets/icons/icons8-comprobado-32.png" alt=""> <strong>Bar</strong> </li>
                </ul>
              </div>
            </div>
            <p class="py-3">
              En nuestro sitio web encontrarás una amplia variedad de opciones para elegir, desde alojamiento en los mejores hoteles hasta las atracciones y eventos más populares en la ciudad. Además, te ofrecemos ofertas exclusivas y descuentos para que puedas ahorrar dinero en tus reservas.
            </p>
            <p class="m-0">
              Nos esforzamos por brindarte un servicio de calidad y confianza, por lo que puedes estar seguro de que tu reserva estará en buenas manos. Nuestro equipo de expertos está disponible para ayudarte en todo momento y responder a cualquier pregunta que puedas tener.
            </p>
          </div>
        </div>
        <hr class="featurette-divider">
      </div>
      
    </section><!-- End About Section -->
    
    <app-testimonio></app-testimonio>
    
    <section class="container mt-4">
      <hr class="featurette-divider">
      <div style="text-align:center ">
        <div class=" sec-descr pt-5">
          <h2 class="pt-5">Servicios</h2>
          <h3>Mira los servicios que ofrecen nuestro Hoteles</h3>
          <p>Detrás de cada historia hay una persona con experiencias únicas y valiosas. En esta sección, hemos recopilado testimonios de personas que han vivido situaciones que pueden inspirar y motivar a otros.</p>
        </div>
        
        
        <owl-carousel-o [options]="customOptions" >
          <ng-template carouselSlide>
            <div class="img-tam1">
              <div class="col">
                <img class="img-ser" src="../../../../assets/servicios/serv-1.png" >
                
              </div>
            </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="img-tam1">
              <div class="col">
                <img class="img-ser" src="../../../../assets/servicios/serv-2.png" >
                
              </div>
            </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="img-tam1">
              <div class="col">
                <img class="img-ser" src="../../../../assets/servicios/serv-3.png" >
               
              </div>
            </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="img-tam1">
              <div class="col">
                <img class="img-ser" src="../../../../assets/servicios/serv-4.png" >
                
              </div>
            </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="img-tam1">
              <div class="col">
                <img class="img-ser" src="../../../../assets/servicios/serv-5.png" >
                
              </div>
            </div>
          </ng-template>  
        </owl-carousel-o>
        <hr class="featurette-divider">

      </div>
  </section>

  </main><!-- End #main -->
