<div class="sidebar-header">
  <h3 class="brand">
    <span class="ti-unlink"></span>
    <span>Admin</span>
  </h3>

  <label for="sidebar-toggle"><mat-icon>menu </mat-icon></label>
</div>
<div class="sidebar-menu">
  <ul>
    <li routerLink="/admin/listar" routerLinkActive="activelink" [routerLinkActiveOptions]="{exact: true}">
      <a>
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
    </li>
    <app-rutas-super-admin></app-rutas-super-admin>
    <app-rutas-admin></app-rutas-admin>
  </ul>
</div>