<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials mt-4">
    <div class="container">

      <div class="section-header">
          <div class=" sec-descr pt-5">
            <h2 class="pt-5">Testimonios</h2>
            <h3>¿Que comentarios nos recomiendan?</h3>
            <p>Detrás de cada historia hay una persona con experiencias únicas y valiosas. En esta sección, hemos recopilado testimonios de personas que han vivido situaciones que pueden inspirar y motivar a otros.</p>
          </div>
        
      </div>

      
    
    <div style="text-align:center ">
        <h1>
          Nuestros Testimonios
        </h1>
        
          <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide><div class="card" style="width: 18rem;">
                <div  class="card-img-top pt-2 " >
                    <img src="../../../../assets/testimonios/testimonials-1.jpg" class="testimonio-img sombra" alt="">
                </div>
                    <div class="card-body">
                        <h5 class="card-title">Saul Goodman</h5>
                        <p class="card-text"> "Reservar con esta página web fue lo mejor que hice para mis vacaciones. Encontré el hotel perfecto para mi familia y el proceso de reserva fue muy sencillo y rápido. Definitivamente volveré a utilizar este sitio web en el futuro".</p>
                        <h4>Ceo &amp; Founder</h4>
                    </div>
                </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="card" style="width: 18rem;">
                <div  class="card-img-top pt-2" >
                    <img src="../../../../assets/testimonios/testimonials-2.jpg" class="testimonio-img sombra" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Sara Wilsson</h5>
                  <p class="card-text">"Quiero agradecer a esta página web por hacer que mi viaje de negocios fuera más fácil. Reservé mi habitación en menos de cinco minutos y todo estaba listo cuando llegué al hotel. ¡Recomiendo ampliamente esta página web de reservas de hoteles!"</p>
                  <h4>Designer</h4>
                </div>
              </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="card" style="width: 18rem;">
                <div  class="card-img-top pt-2" >
                    <img src="../../../../assets/testimonios/testimonials-3.jpg" class="testimonio-img sombra" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Jena Karlis</h5>
                  <p class="card-text">
                    "No tenía mucho tiempo para planear mis vacaciones, pero esta página web me salvó la vida. Encontré el hotel perfecto y pude reservar con facilidad. Definitivamente utilizaré este sitio web de nuevo".
                  </p>
                  <h4>Store Owner</h4>
                </div>
              </div>
          </ng-template> 
          <ng-template carouselSlide>
            <div class="card" style="width: 18rem;">
                <div  class="card-img-top pt-2" >
                    <img src="../../../../assets/testimonios/testimonials-4.jpg" class="testimonio-img sombra" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">Matt Brandon</h5>
                  <p class="card-text">"Reservar con esta página web fue una experiencia increíble. Encontré una oferta de último momento en un hotel increíble y ahorré mucho dinero en mi estadía. ¡Gracias por hacer que mi viaje fuera inolvidable!".</p>
                  <h4>Freelancer</h4>
                </div>
              </div>
          </ng-template>  
          <ng-template carouselSlide>
            <div class="card" style="width: 18rem;">
                <div  class="card-img-top pt-2" >
                    <img src="../../../../assets/testimonios/testimonials-5.jpg" class="testimonio-img sombra" alt="">
                </div>
                <div class="card-body">
                  <h5 class="card-title">John Larson</h5>
                  <p class="card-text">"Esta página web de reservas de hoteles es lo máximo. Encontré el hotel perfecto en la ciudad que siempre quise visitar y pude reservar de manera fácil y rápida. ¡Recomiendo ampliamente este sitio web para planear tus próximas vacaciones!".</p>
                  <h4>Entrepreneur</h4>
                </div>
              </div>
          </ng-template>  
        </owl-carousel-o>
    </div>
</div>
  </section><!-- End Testimonials Section -->
