<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials mt-4">
    <div class="container">

      <div class="section-header">
          <div class=" sec-descr pt-5">
            <h2 class="pt-5">Testimonios</h2>
            <h3>¿Que comentarios nos recomiendan?</h3>
            <p>Detrás de cada historia hay una persona con experiencias únicas y valiosas. En esta sección, hemos recopilado testimonios de personas que han vivido situaciones que pueden inspirar y motivar a otros.</p>
          </div>
        
      </div>

      
    
    <div style="text-align:center ">
        <h1>
          Nuestros Testimonios
        </h1>
        
          <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide
              
              *ngFor="let testimonio of ultimosTest">
              <div class="card sombra" style="width: 90%;">
                <div  class="card-img-top pt-2 " >
                    <img src="../../../../assets/icons/comentarios.png" class="testimonio-img " alt="">
                </div>
                    <div class="card-body">
                        <h5 class="card-title">{{testimonio.fecha}} </h5>
                        <p class="card-text"> {{testimonio.detalle_testimonio}}</p>
                        <h4>{{testimonio.usuario.nombre}} {{testimonio.usuario.apellido}}</h4>
                    </div>
              </div>
          </ng-template>  
         
        </owl-carousel-o>
    </div>
</div>
  </section><!-- End Testimonials Section -->
