<div class="container">
    <section class="mb-5" *ngIf="logeado()">
        <div class=" pt-4 pt-lg-5">
            <div class="row justify-content-center">
                <div class="text-center">
                    <p>La sección de testimonios es una parte esencial de cualquier sitio web que busca brindar una atención personalizada y efectiva a sus usuarios. Esta sección generalmente se encuentra en la barra de navegación o en el pie de página del sitio web, y en ella se pueden encontrar diversas opciones para comunicarse con la empresa o el proyecto.</p>
                    <div class="mt-5">
                        <div class="row">
                            <div class="col-6">
                                <form  (ngSubmit)="guardarRating()" autocomplete="off" class="sombra mb-3" [formGroup]="miFormulario">
                                    
                                    <div class="row">
                                        <div class="form-floating mb-2 col">
                                            <input class="form-control" formControlName="id" type="text" />
                                            <label >ID</label>
                                            
                                        </div>
                                        <div class="form-floating mb-2 col">
                                            <input class="form-control" 
                                                type="text" 
                                                formControlName="nombre" 
                                                placeholder="Enter your nombre..." 
                                                />
                                            <label >Nombre</label>
                                            <span  class="form-text text-danger col"
                                                *ngIf="campoEsValido('nombre')">
                                            El nombre es requerido
                                            </span>
                                            
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-floating mb-2 col">
                                            <input class="form-control" formControlName="idhotel" type="text" />
                                            <label >ID Hotel</label>
                                            
                                        </div>
                                        <div class="form-floating mb-2 col">
                                            <input class="form-control" 
                                                type="text" 
                                                formControlName="nombrehotel" 
                                                placeholder="Enter your nombre..." 
                                                />
                                            <label >Nombre Hotel</label>
                                            <span  class="form-text text-danger col"
                                                *ngIf="campoEsValido('nombrehotel')">
                                            El nombre es requerido
                                            </span>
                                            
                                        </div>
                                    </div>
                                    <div class="mb-3">
                                        <ngb-rating [formControl]="ctrl"[max]="5" ></ngb-rating>
                                        <div class="form-text small">
                                            <div *ngIf="ctrl.valid" class="text-success">Gracias!</div>
                                            <div *ngIf="ctrl.invalid" class="text-danger">Porfavor, seleccione rating</div>
                                        </div>
                                    </div>
                                    
                                    <pre>Puntaje: <b>{{ ctrl.value }}</b></pre>
                                    <div class="form-floating">
                                        <textarea class="form-control" id="message" formControlName="detalle" placeholder="Enter your message here..." style="height: 12rem"></textarea>
                                        <label >Mensaje</label>
                                        
                                        <span  class="form-text text-danger"
                                            *ngIf="campoEsValido('detalle')">
                                        El mensaje es requerido
                                        </span>
                                    </div>
                                    
                                    <br />
                                
                                    <!-- Submit Button-->
                                    <button [disabled]="miFormulario.invalid" class="btn btn-primary text-uppercase control-boton active" id="enviar" type="submit">Enviar</button>
                                    <button class="btn btn-primary control-boton"id="cargar"  type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                        Loading...
                                    </button>
                                </form>
                            </div>
                            <div class="col-6">
                                <img src="../../../../assets/foto-hotel/foto-hotel-4.jpg" class="imagen-nosotros pb-3" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
